{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "react/jsx-no-bind": 1,
    "comma-dangle": 1,
    "no-use-before-define": 1,
    "consistent-return": 1
  },
  "plugins": [
    "react",
  ]
}
